*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body {
    
    font-family: Arial, Helvetica, sans-serif;
}

#fstpage {
    height: 100vh;
    width: 100%;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 35vw 1fr;
    grid-template-rows: 70px 240px 1fr 100px ;
    grid-template-areas: "header header"
                          "top-left top-right"
                          "center center"
                          "data data";
}

header  {
    /* background-color: yellow; */
   
    grid-area: header;
}

.navbar {
     display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 90%; */
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: whitesmoke;

}

#nlogo {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#navlinks a{
     text-decoration: none;
     color: black;
     margin: 40px;
     font-size: 1.2rem;
}

#nbtn {
    padding: 15px 25px;
    background-color: rgb(22, 73, 212);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
}
#top-left {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: top-left;
    font-size: 4.5rem;
    color: #111;
    font-weight: 100;
}

#top-right {
    grid-area: top-right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    flex-direction: column;
    gap: 25px;
}

#top-right p {
    font-size: 1.2rem;
    gap: 10px;
}
#midbtn {
    display: flex;
    justify-content: flex-start;
  gap: 20px;
}
#trbtn {
    padding: 20px 40px;
    background-color: rgb(22, 73, 212);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
}

#frbtn { 
    padding: 12px 20px;
    background-color: rgb(16, 162, 230);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
}
#center {
    background-color: blue;
    background-image: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b46776ffd84085bcaa69c6_Frame%202147226850-p-1600.webp);
    grid-area: center;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

#data {
    grid-area: data;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#numdata {
    width: 80%;
    display: flex;
    font-size: 3rem;
    font-weight: lighter;
    justify-content: space-between;
}

#pdata {
    width: 90%;
    display: flex;
    font-size: 1.3rem;
    font-weight: lighter;
    justify-content: space-between;
}