*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E2F9B8;
    height: 100%;
    width: 100%;

}

#nav {
    height: 80px;
    width: 100%;
    background: #D16014;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    margin-right: 20px;
}

.links a {
    text-decoration: none;
    color: #313715;
    font-size: 1.3rem;
}

.links a {
    margin-right: 20px;
    margin: 15px;
}
.delo  {
   font-size: 2.5rem;
   text-decoration: none;
   color: #fff;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 800;
   text-shadow: 10px  18px 20px rgba(0,0,0,0.6);
   margin-left: 15px;
   
}

#nbtn {
    padding: 10px 25px;
    border: none;
    background-color: rgb(12, 12, 12);
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: 5px 10px 25px rgba(0,0,0,0.6);
    transition: all 0.4s ease;
}

#nbtn:hover {
  background-color: #333;
}

#main {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 30px 90px;
}

#card {
    height: 300px;
    width: 250px;
    background: #BBCE8A;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid white;
    box-shadow: 3px 8px 15px rgba(53, 46, 46, 0.6);
    transition: all 0.4s ease;
    transform: translateY(0);
}

#card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 40%;
    border: 1px solid rgb(99, 96, 96);
    box-shadow: 3px 8px 15px rgba(46, 42, 42, 0.6);
    transition: all 0.5s ease;

}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    /* font-weight: 700; */
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(48, 35, 35);
}
button {
    padding: 10px 25px;
    border: none;
    background-color: red;
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: 5px 10px 25px rgba(0,0,0,0.6);
    transition: all 0.4s ease;

}

#card:hover img {
   transform: scale(1.02);
}

#card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 10px 45px rgba(253, 216, 2, 0.808);

}
button:hover {
    background-color: rgb(224, 81, 81);
}